body {
  background-color: #efffaa;
  font-family: Verdana;
  margin: 40px;
}

h1{
  background-color:#a3ffa3;
  text-align:center;
  font-family:Arial;
  font-size:40pt;
}

canvas{
  background-color:#c3c3c3;
  border: 5px solid black;
  width: 200pt;
  height: 150pt;
}

div{
  font-size: 14pt;
  font-family: arial;
  color: #83942f;
}